<!-- <div [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div> -->
    <!-- <mat-form-field  class="input-test">

      <input matInput  type="text" formControlName="textInput"> -->

    <!-- <mat-error>error</mat-error> -->
  <!-- </mat-form-field> -->
  <!-- </div>

  <div>
    <admin-date-picker></admin-date-picker>
  </div>

  <div>
    <admin-input 
      formControlName="textInput"
      placeholder="Enter text"
      className='input-test'
    />
  </div>


  <div><admin-search-select
    formControlName="textInput"
    />
    <div>
  <div class="color-red">ss</div>
</div> -->
<tpb-button appearance="primary">Tìm kiếm</tpb-button>
&nbsp;
<tpb-button appearance="outline-danger">Tìm kiếm</tpb-button>
&nbsp;
<tpb-button appearance="outline-warning">Tìm kiếm</tpb-button>
&nbsp;
<tpb-button appearance="secondary">Tìm kiếm</tpb-button>

&nbsp;
<tpb-button [disabled]="true" appearance="secondary">Tìm kiếm</tpb-button>