<div class="login-container">
    <div class="login-content">
        <div class="login-content-des">
            <img src="../../assets/logo.svg" alt="logo" class="login-content-des__img"/>
            
            <h1 class="login-content-des__title">Đăng nhập hệ thống Product Layer</h1>    
        </div>
        <div class="login-content-form">
            <!-- bind ng-submit into form-input -->
            <form [formGroup]="form" >
    
            <app-form-wrapper title="Tên đăng nhập" [required]="true">
                <tpb-input 
                    [errorMessage]="handleError('username')"
                    formControlName="username"
                    placeholder="Ví dụ: GiangBQ"
                ></tpb-input>
            </app-form-wrapper>
            
            <app-form-wrapper title="Mật khẩu" [required]="true">
                <tpb-input 
                    [errorMessage]="handleError('password')"
                    formControlName="password"
                    placeholder="Nhập mật khẩu"
                    [type]="'password'"
                ></tpb-input>
            </app-form-wrapper>

            <app-form-wrapper title="Mã eToken+ cơ bản" [required]="true">
                <tpb-input 
                    [errorMessage]="handleError('eToken')"
                    formControlName="eToken"
                    placeholder="Ví dụ: 95152"
                ></tpb-input>
            </app-form-wrapper>


                <div class="login-content-form__action">
                    <tpb-button 
                        type="submit" 
                        appearance="primary"
                        (onClick)="onSubmit()"
                    >
                        Đăng nhập
                    </tpb-button>
                </div>
                </form>
        </div>
    </div>
</div>

