<div class="card">
  <!-- Shell running Angular {{ version }} -->
  <p>
    <a routerLink="/">Go to home page</a>
  </p>
  <p>
    <a routerLink="/mfe2/mfe-component"
      >Load MFE 1 app</a
    >
  </p>

  <!-- <p>
    <a routerLink="/mfe3/mfe3-component"
      >Giao tie </a
    >
  </p> -->

  <button (click)="loadEventService()">giao tiếp với shared lib và truyển msg tới app con</button>

  <!-- <button (click)="viewEventService()">view event service loaded</button> -->


  <div *ngIf="loadContent">Event msg được giao tiếp thông qua sharedlib:<span style="color: red;">{{loadContent}}</span></div>
  <router-outlet></router-outlet>
  <tpb-button appearance="outline-warning">  sss</tpb-button>
  <tpb-button appearance="outline-danger">  sss</tpb-button>

</div>