<!-- <div class="card"> -->
  <!-- Shell running Angular {{ version }} -->
  <!-- <p>
    <a routerLink="/">Go to home page</a>
  </p>
  <p>
    <a routerLink="/mfe2/mfe-component"
      >Load MFE 1 app</a
    >
  </p> -->

  <!-- <p>
    <a routerLink="/mfe3/mfe3-component"
      >Giao tie </a
    >
  </p> -->

  <!-- <tpb-button 
  type="submit"  (onClick)="loadEventService()">giao tiếp với shared lib và truyển msg tới app con</tpb-button >



  <div *ngIf="loadContent">Event msg được giao tiếp thông qua sharedlib:<span style="color: red;">{{loadContent}}</span></div>
  <router-outlet></router-outlet>
  <tpb-button appearance="outline-warning">  sss</tpb-button>
  <tpb-button appearance="outline-danger">  sss</tpb-button>

  <tpb-checkbox ></tpb-checkbox>

    <tpb-date-picker></tpb-date-picker>
</div>
<div>
    <tpb-input placeholder="Tất cả"/>
</div>

<div>
    <tpb-checkbox></tpb-checkbox>
</div>

<div>
    <tpb-select></tpb-select>
</div>

<form [formGroup]="form" >

  <div>
      <tpb-input 
          [errorMessage]="handleError('name')"
          formControlName="name"
          placeholder="Tất cả"
      />
      
      

      <tpb-select
          [selectOptions]="selectOption"
          formControlName="select"
      />

      <tpb-date-picker
          formControlName="date"
          errorMessage="Input không hợp lệ"
      />

  <tpb-button 
  type="submit"  (onClick)="onSubmit()" appearance="primary">submit</tpb-button>
  </div>
</form>
<tpb-input 
[customContent]="'suffix'"
[value]="noReactive.input"
(onInputChange)="onInputChange($event)"
[required]="true"
placeholder="Tất cả">
  <div prefix>
      prefix
  </div>
  <div suffix>
      suffix
  </div>
</tpb-input> -->

<router-outlet></router-outlet>

