

<admin-main-layout>
    <router-outlet></router-outlet>


    <tpb-button appearance="secondary">secondary</tpb-button>
<div>
    <tpb-date-picker
    [value]="noReactive.date"
    (onInputChange)="onInputChange($event)"
    ></tpb-date-picker>
</div>
<div>
    <tpb-input 
    [customContent]="'suffix'"
    [value]="noReactive.input"
    (onInputChange)="onInputChange($event)"
    [required]="true"
    placeholder="Tất cả">
    <div prefix>
        prefix
    </div>
    <div suffix>
        suffix
    </div>
    </tpb-input>
</div>

<div>
    <tpb-checkbox/>
</div>

<div>
    <tpb-select [width]="'252px'"
    (onInputChange)="onInputChange($event)"
    value="1"
    [selectOptions]="selectOption"
    />
</div>
<div>
    <tpb-input placeholder="Tất cả"/>
</div>
<div>
<form [formGroup]="form" >

    <div>
        <tpb-input 
            [errorMessage]="handleError('name')"
            formControlName="name"
            placeholder="Tất cả"
        />
        
        <tpb-text-area
            formControlName="des"
            placeholder="2"
        />

        <tpb-select
            [selectOptions]="selectOption"
            formControlName="select"
        />

        <tpb-date-picker
            formControlName="date"
            errorMessage="Input không hợp lệ"
        />

    <tpb-button 
    type="submit"  (onClick)="onSubmit()" appearance="primary">submit</tpb-button>
    </div>
</form>
<div>nhan dep trai</div>
</div>
</admin-main-layout>
